* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #abffff;
    color: #172f33;
    line-height: 1.6;
}

.cabecalho {
    background: #a4eef5;
    padding: 20px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo strong {
    font-size: 24px;
}

.logo span {
    font-size: 12px;
    color: #64748b;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #334155;
    font-weight: 600;
}

nav a:hover {
    color: #25deeb;
}

.hero-refugiados {
    padding: 90px 8%;
    background: linear-gradient(135deg, #174654, #1e8a81);
    color: white;
}

.hero-refugiados span,
.tag {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}

.hero-refugiados h1 {
    max-width: 800px;
    font-size: 48px;
    margin: 15px 0;
}

.hero-refugiados p {
    max-width: 750px;
    font-size: 18px;
    color: #dbeafe;
}

.conceito {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 25px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    align-items: center;
}

.texto-conceito h2 {
    font-size: 34px;
    margin: 12px 0 20px;
}

.texto-conceito p {
    margin-bottom: 15px;
    color: #475569;
}

.destaque {
    background: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}

.destaque span {
    font-size: 35px;
}

.destaque strong {
    display: block;
    font-size: 20px;
    margin: 15px 0 8px;
}

.destaque p {
    color: #64748b;
}

.cards-refugiados {
    max-width: 1100px;
    margin: 0 auto 70px;
    padding: 0 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.card-refugiado {
    background: white;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid #e5e7eb;
}

.icone {
    font-size: 32px;
}

.card-refugiado h3 {
    margin: 15px 0 10px;
}

.card-refugiado p {
    color: #64748b;
}

.jornada {
    background: white;
    padding: 70px 8%;
}

.titulo-secao {
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.titulo-secao span {
    color: #25d4eb;
    font-size: 13px;
    font-weight: bold;
}

.titulo-secao h2 {
    font-size: 34px;
    margin: 10px 0;
}

.titulo-secao p {
    color: #64748b;
}

.linha-jornada {
    max-width: 1100px;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.etapa {
    position: relative;
}

.numero {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #dbeafe;
    color: #1dc2d8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 18px;
}

.etapa p {
    color: #64748b;
    margin-top: 8px;
}

.fontes {
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 25px;
    text-align: center;
}

.fontes h2 {
    font-size: 30px;
}

.fontes p {
    color: #64748b;
    margin: 10px 0 30px;
}

.fontes-lista {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fontes-lista div {
    background: rgb(151, 240, 247);
    padding: 20px 30px;
    border-radius: 12px;
    min-width: 220px;
    border: 1px solid #e5e7eb;
}

.fontes-lista strong,
.fontes-lista span {
    display: block;
}

.fontes-lista span {
    color: #64748b;
    font-size: 14px;
}

footer {
    background: #112427;
    color: #cbd5e1;
    text-align: center;
    padding: 25px;
}

@media (max-width: 800px) {

    .cabecalho {
        flex-direction: column;
        gap: 20px;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-refugiados h1 {
        font-size: 36px;
    }

    .conceito,
    .cards-refugiados,
    .linha-jornada {
        grid-template-columns: 1fr;
    }

    .fontes-lista {
        flex-direction: column;
    }
}